<!DOCTYPE html>
<html lang="en">
<head>
    <title>YOUR FUCKING IP ADDRESS</title>
    <meta charset="UTF-8">
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1199543660566796"
     crossorigin="anonymous"></script>
    <style>
         footer {
            background-color: #7CFC00;
            width: 99%;
            bottom: 0;
            position: fixed;
        }
    </style>
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1199543660566796"
     crossorigin="anonymous"></script>
</head>
<body>

     <!-- PRE LOADER -->
     <section class="preloader">
          <div class="spinner">

               <span class="spinner-rotate"></span>
               
          </div>
     </section>

    <center>
        {% block content %}
        {% endblock %}
    </center>

<footer>
    <div class="row">
        <div class="col" align="left">
             <p>
                 <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="SOBERLab" data-color="#FFDD00" data-emoji=""  data-font="Cookie" data-text="Buy me a fuckin' cloud server" data-outline-color="#000000" data-font-color="#000000" data-coffee-color="#ffffff" ></script>
             </p>
        </div>

        <div class="col" align="left">

            <p>Powered by <a href="https://thc-lab.net">THC-Lab</a></p>
        </div>
    </div>
</footer>

</body>
</html>