<!DOCTYPE html>
<html lang="en">
<head>
    <title>YOUR FUCKING IP ADDRESS</title>
    <meta charset="UTF-8">
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1199543660566796"
     crossorigin="anonymous"></script>
    <style>
         footer {
            background-color: #7CFC00;
            width: 100%;
            bottom: 0;
            position: fixed;
        }
    </style>
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1199543660566796"
     crossorigin="anonymous"></script>
</head>
<body>

     <!-- PRE LOADER -->
     <section class="preloader">
          <div class="spinner">

               <span class="spinner-rotate"></span>
               
          </div>
     </section>

    <center>
        {% block content %}
        {% endblock %}
    </center>

<footer>
  <p>Powered by <a href="https://thc-lab.net">THC-Lab</a><p>
</footer>

</body>
</html>